body {
    background-color: #16FF00;
    color: red;
}

.marquee1 {
    font-size: 25px;
}

span {
    font-size: 35px;
}

.Nivid {
    text-align: center;
    
}

.hate {
    font-size: 20px;
}